.yellow {
  background-color:hsl(31, 77%, 52%);
  flex: 1;
}

.blue {
  background-color: hsl(184, 100%, 22%);
  flex: 1;
}

.green {
  background-color: hsl(179, 100%, 13%);
  flex: 1;
}

p {
  color:hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 200;
  width: 200px;
  line-height: 1.4;
  font-size: 15px
}

h1 {
  font-family: 'Big Shoulders Display';
  padding:10px 0;
  color: hsl(0, 0%, 95%);
}

img {
  margin-top: 15px;
}

.learnMoreButton{
  border-radius: 25px;
  background-color: #ffffff;
  padding: 10px 20px;
  margin-top:70px;
  font-family: 'Lexend Deca', sans-serif;
  border:none;
}

.learnMoreButton:hover{
  background-color: inherit;
  border: 2px solid;
  color: #ffffff;
}
 .child{
   padding:30px;
 }

.flex-container {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  height:450px;
  width:800px;
  margin: auto;
}

.attribution {
  text-align: center;
  font-size: 11px;
}

.page{
  padding: 100px 0;
}

.luxuryButton {
  color: hsl(179, 100%, 13%);
}

.suvsButton{
  color: hsl(184, 100%, 22%);
}

.sedansButton{
  color: hsl(31, 77%, 52%);
}

@media (max-width:800px) {
  .flex-container {
    flex-direction: column;
    height:auto;
    width: 350px;
  }
  .learnMoreButton{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .learnMoreButton:hover{
    background-color: inherit;
    border: 2px solid;
    color: #ffffff;
  }
  h1{
    padding:5px 0;
  }
  p{
    line-height: 1.5;
    width: 220px;
  }
  .child{
    padding: 30px 40px;
  }
  .page{
    padding: 50px 0;
  }
}
